.fileList {
    :global {
        .ant-table-body {
            scrollbar-width: auto;
            scrollbar-color: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: #ccc;
                border-radius: 5px;
            }
        }
    }
}