.fileList :global .ant-table-body {
  scrollbar-width: auto;
  scrollbar-color: auto;
}
.fileList :global .ant-table-body::-webkit-scrollbar {
  width: 5px;
}
.fileList :global .ant-table-body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.spin {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
}
